In [5]:
print ("Hello World!")

Hello World!

#Hello World!

##Hello World!

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a   -1.436758
b   -0.069128
c    0.142328
d    0.227083
e    0.579020
dtype: float64

In [9]:
#create a serie
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a    0.347080
b   -0.108814
c    0.557508
d   -0.758241
e    0.759245
dtype: float64

In [13]:
s = pd.Series(np.random.randn(5))

In [14]:
print(s[0])

0.599621786966

In [15]:
print(s[0])

0.599621786966

In [16]:
df = pd.DataFrame(s, columns = ['Column 1'])
df

   Column 1
0  0.599622
1 -1.391071
2  1.141690
3 -0.412198
4  0.998634

In [17]:
df['Column 1']

0    0.599622
1   -1.391071
2    1.141690
3   -0.412198
4    0.998634
Name: Column 1, dtype: float64

In [18]:
df['Column 1']

0    0.599622
1   -1.391071
2    1.141690
3   -0.412198
4    0.998634
Name: Column 1, dtype: float64

In [26]:
df['Column 2'] = df['Column 1'] * 4
df

   Column 1   Column2  Column 2
0  0.599622  2.398487  2.398487
1 -1.391071 -5.564283 -5.564283
2  1.141690  4.566760  4.566760
3 -0.412198 -1.648793 -1.648793
4  0.998634  3.994534  3.994534

In [24]:
df.sort_values(by = 'Column 2')
df

KeyError: 'Column 2'

In [27]:
df.sort_values(by = 'Column 2')

   Column 1   Column2  Column 2
1 -1.391071 -5.564283 -5.564283
3 -0.412198 -1.648793 -1.648793
0  0.599622  2.398487  2.398487
4  0.998634  3.994534  3.994534
2  1.141690  4.566760  4.566760

In [28]:
df

   Column 1   Column2  Column 2
0  0.599622  2.398487  2.398487
1 -1.391071 -5.564283 -5.564283
2  1.141690  4.566760  4.566760
3 -0.412198 -1.648793 -1.648793
4  0.998634  3.994534  3.994534

In [29]:
df[df['Column 2'] <= 2]

   Column 1   Column2  Column 2
1 -1.391071 -5.564283 -5.564283
3 -0.412198 -1.648793 -1.648793

In [30]:
df.describe()

       Column 1   Column2  Column 2
count  5.000000  5.000000  5.000000
mean   0.187335  0.749341  0.749341
std    1.071189  4.284756  4.284756
min   -1.391071 -5.564283 -5.564283
25%   -0.412198 -1.648793 -1.648793
50%    0.599622  2.398487  2.398487
75%    0.998634  3.994534  3.994534
max    1.141690  4.566760  4.566760